# R sessions files
.Rhistory
.Rapp.history
.RData

# R studio
.Rproj.user/

# knit and rmarkdown
*_cache/
**/*_cache/
*.utf8.md
*.knit.md


# pdf and Html files
*.pdf
/functions/*.html

# Excel lock files
*.xlsx#
